@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

:root {
    --color-white-1: #F4F6FF;
    --color-grey-1: #696C74;
    --color-grey-2: #91949D;
    --color-grey-3: #B1B4BD;
    --color-black-1: #0B0E16;
    --color-red-1: #300219;
    --color-red-2: #AF053F;
    --color-red-3: #BB2E57;

    --fontsize-xs: 12px;
    --fontsize-sm: 12px;
    --fontsize-base: 12px;
    --fontsize-xl: 12px;
    --fontsize-2xl: 12px;
    --fontsize-3xl: 12px;
    --fontsize-4xl: 12px;
    --fontsize-5xl: 12px;
}

html, body {
    font-family: 'Cairo', sans-serif;

    margin: 0;
    padding: 0;
    
    height: 100%;
    width: 100%;
}



